body {
	padding-top: 50px;
}

.all{
	padding: 40px;
	padding-top: 20px;
	padding-left: 110px;
	padding-right: 110px;
}

#inputComment{
	min-height: 100px;
	resize: vertical;
}

.form{
	display: inline;
	margin: 0px;
}

.forms{
		display: inline;
}

.input-group, .input-append{
	width: 100%;
}

@media screen and (max-width:600px) {
	.all{
		padding: 40px;
		padding-top: 20px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.form{
		display: block;
		margin: 2px;
	}

	.forms{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}